<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>com.mycompany.webproject.servlet.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>addressServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>ProfileServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>AddOrderServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>orderdetailServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>OrderhistoryServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>LogoutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>CheckOutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>registrrationServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.registrrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.AddProductToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.ActivateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderhistoryServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.OrderhistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductFromCartServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.RemoveProductFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderdetailServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.OrderdetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.AddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addressServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.addressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddproductServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.AddproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutadminServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.LogoutadminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderlistadminServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.OrderlistadminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderdetailadminServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.OrderdetailadminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadimageServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.UploadimageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.mycompany.webproject.servlet.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrrationServlet</servlet-name>
        <url-pattern>/registrration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <url-pattern>/AddProductToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/Activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderhistoryServlet</servlet-name>
        <url-pattern>/Orderhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductFromCartServlet</servlet-name>
        <url-pattern>/RemoveProductFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderdetailServlet</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addressServlet</servlet-name>
        <url-pattern>/address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddproductServlet</servlet-name>
        <url-pattern>/Addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutadminServlet</servlet-name>
        <url-pattern>/Logoutadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderlistadminServlet</servlet-name>
        <url-pattern>/Orderlistadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderdetailadminServlet</servlet-name>
        <url-pattern>/Orderdetailadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadimageServlet</servlet-name>
        <url-pattern>/Uploadimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/RemoveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
